.DetailCarRent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
}

.NavBarTop{
    width: 100%;
    max-width: 1440px;
    height: 124px;
    background-color: #FFFFFF;
}

.logo{
    width: 148px;
    height: 44px;
    margin-top: 40px; 
    margin-left: 60px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -3%;
    vertical-align: middle;
    color: #3563E9;
}

.search-box {
    display: flex;
    align-items: center;
    width: 492px;
    height: 44px;
    margin-top: -41px;
    margin-left: 300px;
    background-color: #ffffff;
    border-radius: 70px;
    border: 1px solid #C3D4E966;
}

.search-box input {
    border: none;
    outline: none;
    width: 149px;
    height: 20px;
    font-weight: 500;
    line-height: 500;
    letter-spacing: -2%;
    vertical-align: middle;
    flex: 1;
    font-size: 14px;
    font-family: Plus Jakarta Sans;
    color: #596780;
    padding-left: 25px;
}

.profil{
    width: 236px;
    height: 44px;
    margin-top: -41px;
    margin-left: 1220px;
    gap: 20px;
}

.icon{
    width: 44px;
    height: 44px;
}

.content{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    width: 100%;
    max-width: 1440px;
    height: 2350px;
    top: 124px;
    background-color: #F6F7F9;
}

.NavBarSide{
    width: 360px;
    height: 2350px;
    background-color: #FFFFFF;
    border: 1px solid #F3F5F7;
}

.NavBarRight{
    width: 1016px;
    margin-top: 25px;
    margin-left: 10px;
    display:grid;  
    gap: 40px;
}

.NavBarRight > div {
    flex: 1;
}

.layoutType{
    display: block;
    width: 176px;
    height: 352px;
    margin-top: 32px;
    margin-left: 32px;
    gap: 28px;
}

.chuType{
    width: 104px;
    height: 20px;
    font-family: Plus Jakarta Sans;
    font-weight:600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: #90A3BF;
}

.TYPE{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 176px;
    height: 304px;
    font-family: Plus Jakarta Sans;
    margin-top: 30px;
}

.TYPE label{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.TYPE input[type="checkbox"]{
    width: 24px;
    height: 24px;
    accent-color: #3563E9;
}

.TYPE span{
    color: #90A3BF;
    font-weight: 500;
}

.layoutCapacity{
    display: block;
    width: 176px;
    height: 240px;
    margin-top: 80px;
    margin-left: 32px;
    gap: 28px;
}

.layoutPrice{
    display: block;
    width: 296px;
    height: 104px;
    margin-top: 80px;
    margin-left: 32px;
    gap: 28px;
}

.PRICERANGE input[type="range"] {
    width: 250px;
    height: 56px;
    gap: 12px;
    background: linear-gradient(to right, #3563E9 0%, #90A3BF 100%);
    outline: none;
}

.PRICERANGE input[type="range"]::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background-color: #3563E9;
    border: 4px;
    border: 4px solid #FFFFFF;
}

.MAX {
    width: 296px;
    height: 24px;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -2%;
    color: #596780;
    margin-top: 8px;
}

.part1{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    width: 1016px;
    height: 508px;
    background-color: #FFFFFF;
}

.view123{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    width: 300px;
    height: 124px;
    margin-top: 30px;
}

.view{
    position: relative;
    width: 492px;
    height: 360px;
    border-radius: 10px;
    background-color: #3563E9;
    overflow: hidden;
}

.pattern-bg img {
    position: absolute;
}

.title1{
    width: 372px;
    height: 96px;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -3%;
    vertical-align: middle;
    color: #FFFFFF;
    margin-top: 25px;
    margin-left: 25px;
}

.title2{
    width: 284px;
    height: 48px;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 25px;
}

.imgCar{
    width: 380px;
    height: 120px;
    margin-top: 28px;
    margin-left: 60px;
}

.view1{
    position: relative;
    width: 148px;
    height: 124px;
    border-radius: 10px;
    background-color: #3563E9;
    
}

.view23{
    width: 148px;
    height: 124px;
    border-radius: 10px;
}

.imgCar1{
    width: 116px;
    height: 36px;
    margin-top: 40px;
    margin-left: 15px;
}

.detailCar{
    position: relative;
    width: 492px;
    height: 508px;
    margin-top: 5px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: #ffffff;
}

.carName{
    width: 220px;
    height: 40px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -3%;
    vertical-align: middle;
    color: #1A202C;
    margin-top: 15px;
    margin-left: 24px;
}

.reviewStar{
    width: 108px;
    height: 20px;
    gap: 2px;
    margin-top: 10px;
    margin-left: 24px;
}

.review440{
    width: 104px;
    height: 20px;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    vertical-align: middle;
    color: #596780;
    margin-left: 140px;
    margin-top: -20px;
}

.NISMO{
    width: 444px;
    height: 120px;
    margin-left: 24px;
    margin-top: 25px;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: -2%;
    color: #596780;
}

.Spesification1{
    width: 92px;
    height: 28px;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: #90A3BF;
}

.Spesification2{
    width: 92px;
    height: 28px;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: #596780;
}

.price1{
    width: 200px;
    height: 32px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: black;
}

.price2{
    width: 200px;
    height: 32px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #90A3BF;
}

.rent {
    width: 140px;
    height: 56px;
    border-radius: 4px;
    background-color: #3563E9;
    color: #FFFFFF;
    gap: 8px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -2%;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: none;
}

.rent:hover {
    background-color: #0b2163;
}

.rentMini {
    width: 116px;
    height: 44px;
    border-radius: 4px;
    background-color: #3563E9;
    color: #FFFFFF;
    gap: 8px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -2%;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: none;
}

.rentMini:hover {
    background-color: #0b2163;
}

.layoutReview{
    width: 1016px;
    height: 452px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.chuReviews{
    width: 100px;
    height: 28px;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    vertical-align: middle;
    color: #1A202C;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px;
}

.totalReview {
    width: 44px;
    height: 28px;
    border-radius: 4px;
    background-color: #3563E9;
    color: #FFFFFF;
    gap: 8px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    padding:0px 15px
}

.rate{
    width: 896px;
    height: 56px;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    border-spacing: 6px;
    letter-spacing: -2%;
    color: #596780;
    margin-left: 90px;
}

.name{
    width: 1710px;
    height: 28px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -3%;
    vertical-align: middle;
    color: #1A202C;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
}

.CEO{
    width: 896px;
    height: 20px;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -3%;
    vertical-align: middle;
    color: #90A3BF;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
}

.profilReview{
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
}

.showAll{
    width: 120px;
    height: 24px;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: #90A3BF;
    display: flex;
    margin-top: 40px;
    margin-left: 450px;
}

.ViewAll{
    color: #3563E9;
    margin-left: 830px;
}

.Catalogue{
    width: 1016px;
    height: auto;
    gap: 32px;
    display: flex;
    align-items: flex-start;
}

.Catalog{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 20px;
}
.catalog-box{
    background: #FFFFFF;
    border-radius: 12px;
    padding: 16px;
    width: 275px;
    height: 388px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
    font-family: "Plus Jakarta Sans", sans-serif;
}
.car-catalog{
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}
.car-info {
    margin-bottom: 8px;
}
.car-title {
    width: 150px;
    height: 24px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -3%;
    vertical-align: middle;
    color: #1A202C;
    margin: 0;
}
.car-type {
    width: 128px;
    height: 20px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: #90A3BF;
    margin: 0;
    margin-top: 10px;
}
.car-specs {
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -2%;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    color: #90A3BF;
}
.car-specs div {
    display: flex;
    align-items: center;
    gap: 4px;
}
.car-specs img {
    width: 16px;
    height: 16px;
}

.car-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.car-price {
    font-size: 18px;
    font-weight: 700;
    color: #1A202C;
}

.car-price .unit {
    font-size: 14px;
    font-weight: 500;
    color: #90A3BF;
}

.NavBarFooter {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    width: 100%;
    max-width: 1440px;
    height: auto;
    background-color: #FFFFFF;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ourVision {
    width: 292px;
    height: 48px;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -2%;
    color: #13131399 ;
    margin-top: 15px;
}

.footer-links {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    margin-left: 770px;
    margin-top: -60px;
}

.link-column h4 {
    width: 152px;
    height: 32px;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -2%;
    color: #1A202C ;
    margin-bottom: 30px;
}

.link-column a {
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -2%;
    color: #13131399 ;
    display: block;
    text-decoration: none;
    margin-bottom: 30px;
}

.link-column a:hover {
    color: #3b5bff;
}

.footer-bottom {
    width: 1300px;
    height: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: #1A202C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #13131329;
    padding-top: 10px;
    margin-left: 60px;
}

.footer-bottom a {
    text-decoration: none;
    color: #1A202C;
    width: 144px;
    height: 24px;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -2%;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .NavBarTop {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .logo {
      margin: 10px auto;
      font-size: 24px;
    }
  
    .search-box {
      width: 90%;
      margin: 10px auto;
    }
  
    .profil {
      margin: 10px auto;
      display: flex;
      justify-content: center;
    }
  
    .content {
      flex-direction: column;
      height: auto;
    }
  
    .NavBarSide {
      width: 100%;
      height: auto;
      order: 2;
    }
  
    .NavBarRight {
      width: 100%;
      margin: 0;
      gap: 20px;
    }
  
    .Catalogue {
      flex-direction: column;
      width: 100%;
    }
  
    .Catalog {
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
    }
  
    .catalog-box {
      width: 100%;
      height: auto;
    }
  
    .footer-links {
      margin: 20px auto;
      gap: 40px;
      justify-content: center;
    }
  
    .footer-bottom {
      flex-direction: column;
      margin: 0 auto;
      width: 90%;
      text-align: center;
    }
  }
  
  .show-more-container {
    text-align: center;
    margin-top: 20px;
}

.show-more-btn {
    padding: 10px 20px;
    background-color: #3563E9;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 156px;
    height: 44px;
    margin-top: 50px;
}